@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.3s ease-in-out;
}
html.dark {
  --loader-bg: #fff;
  @apply bg-neutral-800 text-neutral-100;
}
html.light {
  --loader-bg: rgb(38,38,38);
  @apply text-neutral-800 bg-neutral-100;
}
/* Loader */

.wrapper {
  width: 200px;
  height: 60px; 
  z-index: 1;
  @apply relative;
}

.circle {
  width: 20px;
  left: 15%;
  transform-origin: 50%;
  background-color: var(--loader-bg);
  animation: circle7124 0.5s alternate infinite ease;
  @apply absolute rounded-full aspect-square;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}
.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
.shadow {
  width: 20px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.9);
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 0.5s alternate infinite ease;
  @apply absolute rounded-full;
}
@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}
.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}
.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

/* Mantine */
.mantine-Button-root:not([data-disabled="true"]):hover {
  transform: scale(1.1);
}
.mantine-Button-root:not([data-disabled="true"]):active {
  transform: scale(0.9);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/* React Select */
.react-select__value-container {
  color: red;
}
